

  {% for field in fields -%}
{#    <div class="w-72 h-72 p-10 m-10 col-start-1 col-span-1 bg-white flex flex-col justify-items-center content-center">#}


    {{ field.content }}


{#    </div>#}
{%- endfor %}
