{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="lg:w-[60%] grid grid-cols-1 gap-8 mt-8 xs:mt-2 md:grid-cols-2 lg:grid-cols-3 justify-items-center align-center">

{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
  ]
  %}
    <div class="block shadow hover:shadow-2xl rounded-md w-72 md:w-44 h-72 md:h-44 p-10 md:p-3 m-10 md:m-1.5 xs:m-1.5 bg-white flex flex-col justify-items-center content-center">
      {{- row.content -}}
    </div>


{% endfor %}
</div>
