@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image{
  background: linear-gradient(45deg, rgba(86,58,250,0.9)0%, rgba(116,15,214,0.9)100%), url("../../images/hero-bg.jpeg") center center no-repeat;
  background-size: cover;
}
pre {
  background-color: darkslategrey;
  color: lightcyan;
  padding: 1rem;
  margin: 1rem 0;
}

