.nav-bar{
  display: flex;
  width: 100%;
  padding: 0 2rem;
  .brand{
    width: 30%;
    img{
      height: 2rem;
    }
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    img {
      margin-left: 5%;
      width: 20%;
    }

    .hamburger {
      background-color: transparent;
      border: none;
      display: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 24px;
      margin-right: 5%;

      :focus {
        outline: none;
      }
    }


    .nav-ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      list-style-type: none;
      margin-right: 5%;

      li a {
        display: inline-block;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        padding: 10px 20px;
        text-decoration: none;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #ffff66;
        }
      }}}

}
