<div class="container-layout">

  <div class="nav-bar">
    <div class="brand">
      {{ page.branding }}
    </div>

    <div class="nav">
      {{ page.primary_menu }}
    </div>
  </div>
  <div class="main">
    <section class="hero-section">
        <div class="container">

          <div class="left-pane">
            <h1>Hi I am Andrei Sandu</h1>
            <p>I love technology and love to learn as much as possible about it</p>
            <a href="#about">Get Started</a>
          </div>

          <div class="right-pane">
            <img src="/themes/custom/portfolio/assets/images/hero-img.png" alt="desk_image">
          </div>
        </div>
    </section>

    <section class="about-section" id="about">

    </section>
    <section class="counts-section">

    </section>
    <section class="skills-section">

    </section>
    <section class="portfolio-section">

    </section>
    <section class="contact-section">

    </section>
  </div>
</div>
