<div class="w-full">

  <!-- navbar and branding -->
  <nav class="flex justify-between z-10 h-32 xs:px-16 lg:px-64 bg-transparent items-center">
    <div class="flex h-11 py-2 w-auto mr-1 items-center">
      {{ page.branding }}
    </div>

    <div>
      {{ page.primary_menu }}
    </div>
  </nav>
  {# Body #}
  <div class="main">

    <!-- Hero Section -->
    <section class="w-full h-[100vh] -mt-32 flex xs:p0 lg:p-64 justify-center align-center background-image">

      <!-- Leftside text -->
      <div class="flex my-16 items-center self-center">
        <div class="flex-col w-full h-full inline-block content-center px-5">
          <div class="align-super py-20">
            <h1 class="font-['Roboto'] text-4xl text-white">
              Hi I am Andrei Sandu
            </h1>
            <p class="font-['Roboto'] text-xl text-white mb-8">
              I love technology and love to learn as much as possible about it
            </p>
            <a class="font-['Roboto'] text-2xl text-white mt-6 p-2 border-2 rounded-md hover:bg-white hover:text-purple-700 transition" href="#about">
              Get Started
            </a>
          </div>
        </div>
        <!-- Right-side image -->

        <div class="w-auto h-auto z-0 xs:hidden md:block">
          <img class="sm:h-[80%] animate-vertical"
            src="themes/custom/portfolio/assets/images/hero-img.png"
            alt="desk_image" />
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="w-full h-[50vh] flex xs:p0 lg:p-64 justify-center align-center bg-gray-200" id="about">
      <!-- Leftside text -->
      <div class="flex my-16 items-center self-center">
        <div class="flex-col w-full h-full inline-block content-center px-5">
          <div class="align-super py-20">
            <h1 class="font-['Roboto'] text-4xl text-purple-700">
              Hi, I'm Andrei. I am a passionate designer and developer of web and mobile apps
            </h1>
            <p class="font-['Roboto'] font-thin italic text-xl text-gray-800 mb-8">
              I love to continuoussly learn and apply my skills into creating various type of projects.
            </p>
            <ul class="list-none">
              <li class="flex items-center">
                <div class="my-2 mx-2">
                <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                Web development fascinates me. Keep wondering what is the next cool thing.</li>
              <li class="flex items-center">
                <div class="my-2 mx-2">
                <i class="fa-solid fa-circle-check text-purple-700"></i>
                 </div>
                Android development field is another intriguing field.</li>
              <li class="flex items-center">
                <div class="my-2 mx-2">
                  <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                However it all comes together when cyber-security is included in the development process.</li>
              <li class="flex items-center">
                <div class="my-2 mx-2">
                  <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                I write about what I do and what I find interesting.
              </li>
            </ul>
            <div class="mt-8">
            <a class="font-['Roboto'] text-xl text-purple-700 p-2 border-2 border-purple-700 rounded-md hover:bg-purple-700 hover:text-white transition" href="#about">
              Read More ...
            </a></div>
          </div>
        </div>
        <!-- Right-side image -->

        <div class="w-auto h-auto z-0 xs:hidden md:block">
          <img class="sm:h-[80%]"
               src="themes/custom/portfolio/assets/images/about.jpeg"
               alt="desk_image" />
        </div>
      </div>
    </section>

    <!-- Counts Section -->
    <section class="w-full h-[50vh] flex xs:p0 lg:p-64 justify-center align-center background-image"></section>

    <section class="skills-section"></section>
    <section class="portfolio-section"></section>
    <section class="contact-section"></section>
  </div>
</div>
